body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main__wrap, .login-container {
  width: 99%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  background: #566565
}

.login-container {
  align-items: center;
  justify-content: center;
}

.container {
  justify-content: left;
  width: 100% !important;
  max-width: 100% !important;
  display: flex;
  padding: 0 !important;
  background: #fff;
}

section {
  padding: 5px;
  width: 100%;
}


.container aside {
  width: 20%;
  min-width: 195px;
  max-width: 200px;
  border-right: 1px solid;
  box-shadow: 0 0 2px;
  background: #2B2B2B;
}

.nameuser {
  font-size: 12px;
  display: 'block';
  text-align: 'center';
  color: '#fff';
  text-decoration: 'none';
}

.nameuser:hover {
  color: '#595959';
}


.card__box {
  width: 300px;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 2px;
}
.row {
  justify-content: center !important;
}
.navbar {
  justify-content: center !important;
  background: transparent !important;
}
.btn {
  cursor: pointer !important;
}
.badge {
  width: 70px !important;
}

#table {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

#group-button {
  display: block;
  text-align: center;
  margin: 5px;
}

#group-button > *{
  border: 1px solid #595959;
  padding: 5px 11px;
  color: #595959;
}

#group-button > *:first-child {
  border-radius: 5px 0px 0px 5px;
}

#group-button > *:last-child {
  border-radius: 0px 5px 5px 0px;
}

#group-button > span {
  padding: 6px 11px 7px 11px;
  font-weight: bold;
}

#loading {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.5);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

#loading span {
  color: #fff;
}

.success, .fail {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: -5px;
}

.success > div {background: #4caf4c;}
.fail > div {background: #d54b4b;}

.success > div, .fail > div {
    text-align: center;
    width: 300px;
    padding: 15px;
    position: absolute;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 0 2px;
}

.success > div > strong, .fail > div > strong {
  color: #fff;
}
.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"]{
  margin-top: -9px;
}
.MuiInputLabel-outlined{
  margin-top: -17px;
  color: #000;
}
.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] .MuiAutocomplete-input{
  padding: 0px !important;
}

.button-group {
  position: absolute;
  right: 0;
  top: 0;
}

.separator {
  height: 1px;
  background: rgba(0,0,0,.3);
  width: 97%;
  margin: 10px;
}

.image-cad{
  width: 100%;
  box-shadow: 0 0 2px;
  border-radius: 2px;
  max-width: 996px;
}

.image-cad-caption {
  width: 100%;
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin: 5px 0;
}

.cenario-interno-quadro:hover {
  cursor: pointer;
}

.cenario-interno-quadro-selecionado {
  background: #5bff95 !important;
}

.modal-ext {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-ext .modal-int {
  background: #fff;
  padding: 30px;
  border: 1px solid #595959;
  border-radius: 10px;
}

.modal-ext .modal-int .modal-close {
  background: #db2121;
  float: right;
  margin-right: -45px;
  padding: 3px 10px;
  margin-top: -45px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}

.modal-ext .modal-int .modal-close:hover {
  background: #ff0a0a;
}

.modal-ext .modal-int .modal-btn {
  display: flex;
  justify-content: space-between;
}

.modal-ext .modal-int .modal-btn .modal-buttom-nao, .modal-ext .modal-int .modal-btn .modal-buttom-sim {
  border: 1px solid;
  border-radius: 3px;
  color: #fff;
}
.modal-ext .modal-int .modal-btn .modal-buttom-nao {background: #08a508;}
.modal-ext .modal-int .modal-btn .modal-buttom-sim {background: #ff0a0a;}

.dict-link {
  font-weight: bold;
  cursor: pointer;
}
